* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: beige;
}

#top,
#bottom
{
	display: flex;
	flex:3;
}

#top {
  background-color: lightblue;
}

#bottom{
	background-color: rgba(139, 86, 86, .9);
}

#middle{
	display:flex;
	flex:3;
	background-color: rgb(189, 189, 189);
}


.card {
  border: 1px solid black;
}
