* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.top {
   background-color: blue;
}

.card {
  

    border: 1px solid black;
} 

@keyframes clockwiseSpin {
    from  {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
    }	
 }
 .clockwiseSpin {
	font-size: 500px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: clockwiseSpin;
    animation-timing-function: linear;
 }